streamlit
tensorflow==2.12.0
numpy==1.26.4
scipy
Scikit-learn
keras
streamlit==1.30.0  # (or any latest stable version)
git add requirements.txt
git commit -m "Fixed requirements.txt"
git push origin main

